/*******
 BASIS
 MOBILE
 DESKTOP
*********/

:root {
    --Soft-red: #fe7867;
    --Yellow: #fad400;
    --Red: #ff0000;
    --Soft-yellow: #fae885;
    --Dark-desaturated-cyan: #25564b;
    --Dark-blue: #19536b;
    --Dark-moderate-cyan: #458c7e;
    --Light-cyan: #90d4c5;
    --Very-dark-desaturated-blue: #23303e;
    --Very-dark-grayish-blue: #5a636c;
    --Dark-grayish-blue: #818498;
    --Grayish-blue: #a7abae;
    --White: #ffffff;
    --Light-blue: rgb(123, 205, 233);
}

/* ----------------  BASIS  ----------------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.logo{
    width: 124px;
    margin-left: 30px;
    margin-top: 30px;
}

.menu img {
    margin-top: 15px;
}

.menu a {
    color: var(--black);
    text-decoration: none;
}

.menu+h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-1, .wrapper-2, .wrapper-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-1 h1, .wrapper-2 h1 {
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: center;
}

.wrapper-1 p, .wrapper-2 p {
    display: flex;
    justify-content: center;
    color: var(--Dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
}

.wrapper-1 a, .wrapper-2 a {
    color: black;
    font-family: 'Fraunces', serif;
    font-size: 14px;
    font-weight: 900;
}

.transform a:hover, .stand-out a:hover {
    cursor: pointer;
}

hr {
    display: none;
}

.transform a:hover~hr {
    display: block;
    background-color: var(--Soft-yellow);
    height: 7px;
    width: 100px;
    border: none;
    margin-top: -7px;
    border-radius: 5px;
}

.transform a:active~hr {
    background-color: var(--Yellow);
}

.stand-out a:hover~hr {
    display: block;
    background-color: var(--Soft-red);
    height: 7px;
    width: 100px;
    border: none;
    margin-top: -7px;
    border-radius: 5px;
}

.stand-out a:active~hr {
    background-color: var(--Red);
}

.image-graphic-design h1, .image-photography h1 {
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: center; 
}

.image-graphic-design p, .image-photography p {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    text-align: center;
}

.image-graphic-design h1, .image-graphic-design p {
    color: var(--Dark-desaturated-cyan);
}

.image-photography h1, .image-photography p {
    color: var(--Dark-blue);
}

.testimonials h1 {
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    text-align: center;
    color: var(--Dark-grayish-blue)
}

.testimonial-1 img, .testimonial-2 img, .testimonial-3 img {
    border-radius: 50%;
    width: 75px;
}

.testimonial-1 p, .testimonial-2 p, .testimonial-3 p {
    color: var(--Dark-grayish-blue);
}

.testimonial-1 h3, .testimonial-2 h3, .testimonial-3 h3 {
    font-family: 'Fraunces', serif;
}

.testimonial-1 h4, .testimonial-2 h4, .testimonial-3 h4 {
    padding-bottom: 70px;
    padding-top: 10px;
    color: var(--Grayish-blue);
    font-size: 16px;
}

footer {
    background-color: var(--Light-cyan);
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-family: 'open-sans', sans-serif !important;
    color: var(--Dark-desaturated-cyan) !important;
    font-size: 40px !important;
    letter-spacing: 0px !important;
    font-weight: 900;
}

.links {
    color: var(--Dark-moderate-cyan);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.icons {
    color: var(--Dark-desaturated-cyan);
    flex-direction: row;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.links a {
    color: var(--Dark-moderate-cyan);
    text-decoration: none;
}

.links a:hover, .icons a:hover {
    color: var(--White);
}

/* ----------------  MOBILE  ----------------*/
@media only screen and (max-width: 964px) {

    body {
        height: auto;
        width: 100%;
    }

    .main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 375px;
    }

    .header-container {
        display: flex;
        position: relative;
        flex-direction: column;     
        width: 375px;
        background-image: url("images/mobile/image-header.jpg");
        /* background-size: cover; */
        height: 538px;
        background-size: 375px 538px;   
        align-items: center;   
    }  

    .logo{   
        align-self: flex-start;
    }

    .icon-hamburger {
        margin-top: -20px;
        margin-right: 20px;
        width: 24px;
        height: 18px;
        align-self: flex-end;   
    }
    
    .menu {
        display:none;
    }

    .menu-open {
        display: flex; 
        position: absolute;  
        flex-direction: column;
        width: 320px;
        height: 330px;
        top: 80px;
        background-color: white;
        justify-content: center;
        align-items: center; 
        clip-path: polygon(87% 13%, 100% 0%, 100% 100%, 75% 100%, 0 100%, 0 13%);
    }


    .menu-item {
        padding: 20px;
    }

    .menu+h1 {      
        margin-top: 35px;
        padding: 45px 95px;
        font-size: 40px;
    }

    .icon-arrow-down {
        width: 40px;
        display: flex;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 375px;
        background-color: white;
    }  

    .wrapper-1, .wrapper-2, .wrapper-3 {
        display: flex;
        flex-direction: column;
    }

    .wrapper-1 .item-2, .wrapper-2 .item-2{
        padding: 40px;
    }

    .wrapper-1 h1, .wrapper-2 h1 {
        font-size: 26px;
        padding-inline: 20px;
    }

    .wrapper-1 p, .wrapper-2 p {
        font-size: 16px;
        padding-block: 20px;
    }

    .transform, .stand-out {
        text-align: center;
    }

    hr {
        display: none;
    }

    .transform a:hover~hr, .stand-out a:hover~hr {
        margin-inline: auto;
    }   

    .image-transform-mobile, .image-stand-out-mobile{
        width: 375px;
    }

    .image-graphic-design {
        background-image: url('images/mobile/image-graphic-design.jpg');
        width: 375px;
        background-size: 375px, 600px;
        height: 600px;
    }

    .image-photography {
        background-image: url('images/mobile/image-photography.jpg');
        width: 375px;
        background-size: 375px, 600px;
        height: 600px;
    }

    .image-graphic-design h1, .image-photography h1 {
        margin-top: 360px;
        font-size: 30px;
        padding: 30px 0;   
    }

    .image-graphic-design p, .image-photography p {   
        padding: 0 20px;
        font-size: 16px;
    }

    .testimonials-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial-1, .testimonial-2, .testimonial-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .testimonials h1 {
        padding: 60px 10px;
        font-size: 16px;
    }

    .testimonial-1 p, .testimonial-2 p, .testimonial-3 p {
        padding: 40px 40px;
        text-align: center;
        font-size: 16px;
    }

    .testimonial-1 h4, .testimonial-2 h4, .testimonial-3 h4 {
        padding-bottom: 60px;
        padding-top: 10px;
    }

    .pictures {
        display: flex;
        width: 375px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pictures > * {
        width: 187px;
        height: 187px;        
    }

    footer {
        width: 375px;
        height: 410px;
    }

    footer h1 {
        padding: 50px;
    }

    .links {
        width: 375px;
    }

    .icons {
        padding: 90px 0px;
    }
}


/* ----------------  DESKTOP  ----------------*/
@media only screen and (min-width: 964px) {

    body {
        height: auto;
        width: 100%;
    }

    .main-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 950px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 950px;
        background-image: url("images/desktop/image-header.jpg");
        /* background-size: cover; */
        height: 800px;
        background-size: 1440px 800px;
        background-position: center;
    }

    .logo{   
        align-self: flex-start;
    }

    .icon-hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        color: white;
        font-weight: 50;
        margin-top: -20px;
        align-self: flex-end;
        margin-right: 20px;
        justify-content: space-around;
        width: 400px;
        height: 15px;
    }

    .menu *:hover {
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 30%);
        padding-bottom: 30px;
        padding-top: 10px;
        padding-inline: 15px;
        margin-top: -10px;
        margin-left: -15px;
        font-family: 'Fraunces', serif;
    }

    .menu *:active {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    .menu+h1{
        padding: 120px;
    }

    /* .menu+h1 {
        padding: 70px;
    } */

    .icon-arrow-down {
        width: 40px;
        display: flex;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 950px;
        background-color: white;
    }

    .wrapper-1, .wrapper-2, .wrapper-3 {
        width: 950px;
        display: flex;
        flex-direction: row;
    }

    .wrapper-1 .item-2, .wrapper-2 .item-2{        
        padding: 60px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .item-1, .item-2 {
        width: 50%;
        margin-bottom: -4px;
    }
       
    .wrapper-1 .item-1 {
        order: 1;
    }
    
    .wrapper-1 h1, .wrapper-2 h1 {
        font-size: 34px;   
    }
    
    .wrapper-1 p, .wrapper-2 p {
        font-size: 14px;
        padding-block: 20px;
    } 
      
    .image-transform-mobile, .image-stand-out-mobile{
        width: 475px;
    }

    .image-graphic-design {
        background-image: url('images/desktop/image-graphic-design.jpg');
        width: 475px;
        background-size: 475px, 396px;
        height: 396px;
    }

    .image-photography {
        background-image: url('images/desktop/image-photography.jpg');
        width: 475px;
        background-size: 475px, 396px;
        height: 396px;
    }

    .image-graphic-design h1, .image-photography h1 {
        margin-top: 230px;
        font-size: 22px;  
        padding: 20px 0;  
    }

    .image-graphic-design p, .image-photography p {
        font-size: 14px;
        padding: 0 80px;
    }

    .testimonials-items {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .testimonial-1, .testimonial-2, .testimonial-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .testimonials{
        padding-block: 40px;
    }

    .testimonials h1 {
        padding: 60px 10px;
        font-size: 16px;
    }

    .testimonial-1 p, .testimonial-2 p, .testimonial-3 p {
        padding: 40px 10px;
        text-align: center;
        font-size: 14px;
    }

    .testimonial-1 h4, .testimonial-2 h4, .testimonial-3 h4 {
        padding-bottom: 60px;
        padding-top: 10px;
    }

    .pictures {
        display: flex;
        width: 950px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pictures > * {
        width: 25%;
        height: 294px;    
    }

    footer {
        width: 950px;
    }

    footer h1 {
        margin-top: -120px !important;
        padding: 50px;
    }

    .icons {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .main-wrapper {
        width: 1440px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1440px;
        background-image: url("images/desktop/image-header.jpg");
        /* background-size: cover; */
        height: 800px;
        background-size: 1440px 800px;
        background-position: center;
    } 

    .menu *:hover {
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 30%);
        padding-bottom: 30px;
        padding-top: 10px;
        padding-inline: 15px;
        margin-top: -10px;
        margin-left: -15px;
        font-family: 'Fraunces', serif;
    }

    .menu *:active {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    .menu+h1{
        padding: 120px;
    }

    .icon-arrow-down {
        width: 40px;
        display: flex;
        margin: 0 auto;
    }

    .main-container { 
        width: 1440px;
    }

    .wrapper-1, .wrapper-2, .wrapper-3 {
        width: 1440px;
    }

    .wrapper-1 .item-1 {
        order: 1;
    }

    .wrapper-1 .item-2, .wrapper-2 .item-2{        
        padding: 160px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .wrapper-1 h1, .wrapper-2 h1 {
        font-size: 38px; 
        padding-inline: 0px;
    }  

    .wrapper-1 p, .wrapper-2 p {
        font-size: 16px;
        padding-block: 20px;
    } 

    .image-transform-mobile, .image-stand-out-mobile{
        width: 720px;
    } 
    
    .image-graphic-design {
        background-image: url('images/desktop/image-graphic-design.jpg');
        width: 720px;
        background-size: 720px, 600px;
        height: 600px;
    }

    .image-photography {
        background-image: url('images/desktop/image-photography.jpg');
        width: 720px;
        background-size: 720px, 600px;
        height: 600px;
    }

    .image-graphic-design h1, .image-photography h1 {
        margin-top: 400px;
        font-size: 22px;  
        padding: 20px 0;  
    }

    .image-graphic-design p, .image-photography p {
        font-size: 14px;
        padding: 0 200px;
    }

    .testimonial-1 p, .testimonial-2 p, .testimonial-3 p {
        padding: 40px 30px;
        text-align: center;
        font-size: 22px;
    }

    .pictures {
        display: flex;
        width: 1440px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pictures > * {        
        width: 25%;
        height: 447px;    
    }

    footer {
        width: 1440px;
    }
}